[color]
    ui=auto
	status = auto
	branch = auto
	interactive = auto
	diff = auto
    
[user]
	name = dwanderson
	email = anderson.dan.w@gmail.com
[core]
	editor = vim
	excludesfile = /home/dwanderson/.gitignore
[alias]
	bitpush = push -u origin master
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cgreen\\\\ [%cn]\" --decorate
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cgreen\\\\ [%cn]\" --decorate --numstat
	lg = log --graph --pretty=oneline --decorate --abbrev-commit
[credential]
    helper = osxkeychain
