[color]
  ui=auto
	status = auto
	branch = auto
	interactive = auto
	diff = auto

[color "branch"]
  current = cyan
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "grep"]
  linenumber = cyan
  filename = green
    
[user]
	name = Dan W Anderson
	email = anderson.dan.w@gmail.com

[core]
	editor = vim
	excludesfile = /Users/dwanderson/.gitignore

[grep]
  lineNumber = True
	patternType = perl

[alias]
	ls = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cgreen\\\\ [%cn]\" --decorate
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cgreen\\\\ [%cn](%an)\" --decorate --numstat
  lg = log --pretty=format:'%C(yellow)%h %Cred%d %Creset%s (%Cgreen%an)' --graph
	git = !exec git
  dh = diff origin/master HEAD

[credential]
    helper = osxkeychain
